@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Jomolhari';
  src: local('Jomolhari'), url(/home/sangra/project/shamba/src/assets/fonts/font/Jomolhari-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rekha';
  src: local('Rekha'), url(/home/sangra/project/shamba/src/assets/fonts/Rekha.woff/Rekha.woff.ttf) format('truetype');
}

@font-face {
  font-family: 'FellDW';
  src: local('IM Fell DW Pica'), url(/home/sangra/project/shamba/src/assets/fonts/IM_Fell_DW_Pica/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Judson';
  src: local('Judson'), url(/home/sangra/project/shamba/src/assets/fonts/Judson/Judson/Judson-Bold.ttf) format('truetype');
}
